.container{
	margin: 15vh auto 0 auto;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.container__item{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 5px;
	width: 15%;
	height: 300px;
	overflow: auto;
    background-color: black;
}
.content{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 5px;
  margin-bottom: 10px;
}

[class*="ctg"]{
display: flex;
align-items: center;
justify-content: center;
flex: 1 1 auto;
background-color: #9c9c9c;
margin: 5px 0px;
}

[class*="prd"]{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-color: #9c9c9c;
    margin: 5px 0px;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    background-color: #9c9c9c;
    margin: 5px 0px;
}

.characteristics {
    display: flex;
    align-items: center;
}

button {
    height: 30px;
    width: 100px;
}


